<a href="https://colab.research.google.com/github/Manoj-97012/Python-basic--programs/blob/main/Python_logic_Basic_to_intermediate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Basic numbers and conditions
#1.Even or Odd
n = int(input('Enter a number'))
if n % 2 == 0:
        print('even')
else:
        print('odd')

even

In [ ]:
#2.Positive or Negative
n = int(input('Enter a number:'))
if n > 0:
    print('postive')
elif n < 0:
    print('negative')
else :
    print('Zero')

In [ ]:
#3.Greatest of 3 Numbers
a = int(input('Enter a number:'))
b = int(input('Enter b number:'))
c = int(input('Enter c number:'))

if a >=b and a >=c:
    print('this greatest number:', a)
elif b >=a and  b>=c:
    print('this greatest number:', b)
else:
    print('this greatest number:',c)

In [ ]:
#4. Leap Year Check
num = int(input('Enter a year :'))

if (num % 4 == 0 and num % 100 !=0) or (num % 400 ==0):
    print('this a leap year')
else:
    print('not a leap year')

In [ ]:
#5. Print 1-100
for i in range(0,101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#Number Triangle Pattern
n = 5
for i in range(1, n+1):
  for j in range(1, n -i +1):
    print(" ", end=" ")
  for k in range(1, 2 * i):
    print("*", end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
#Star Diamond Pattern

In [ ]:
#Multiplication Table
n = int(input('Enter a number:'))
for i in range(1, 11):
  print(f"{n} * {i} = {n * i}")
  # 2 * 1 = 2

Enter a number:6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
# string basics
# 1. Reverse a String
str = input("enter a string:")
print(str[::-1])

enter a string:Manoj
jonaM

In [ ]:
# other way
str = input('enter a string:')
rev = ' '
for i in str:
  rev = i + rev   # 1.M + '' = M, 2. a + 'M' = aM
print(rev)

enter a string:Manoj
jonaM

In [ ]:
#3.Check Palindrome String
str = input('enter a string:')
if str == str[::-1]:
  print('palindrome')
else:
  print('not palindrome')

enter a string:MOM
palindrome

In [ ]:
# other method
def fun_1(str):
    return s == s[::-1]
str = 'MOM'
res = fun_1
if res:
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [ ]:
#Word Count in Sentence
sentence = "Manojkumar is good boy"
words = sentence.split()
word_count = len(words)

print("Number of words:", word_count)

Number of words: 4

In [7]:
# Anagram Check
str1 = input("Enter a string:")
str2 = input("Enter a string:")
if len(str1) != len(str2):
  print("Not anagrams")
elif sorted(str1) == sorted(str2):
  print("Anagrams")
else:
  print("Not anagrams")

Enter a string:silent
Enter a string:listen
Anagrams

In [8]:
#Character Frequency
str = input("Enter a string:")

l = list(str)
freq =[l.count(ele) for (ele) in l]

#print(freq)

d = dict(zip(l,freq))
print(d)

Enter a string:Manoj kumar is good boy
{'M': 1, 'a': 2, 'n': 1, 'o': 4, 'j': 1, ' ': 4, 'k': 1, 'u': 1, 'm': 1, 'r': 1, 'i': 1, 's': 1, 'g': 1, 'd': 1, 'b': 1, 'y': 1}