<a href="https://colab.research.google.com/github/Manoj-97012/Python-basic--programs/blob/main/Python_logic_Basic_to_intermediate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Basic numbers and conditions
#1.Even or Odd
n = int(input('Enter a number'))
if n % 2 == 0:
        print('even')
else:
        print('odd')

In [ ]:
#2.Positive or Negative
n = int(input('Enter a number:'))
if n > 0:
    print('postive')
elif n < 0:
    print('negative')
else :
    print('Zero')

In [ ]:
#3.Greatest of 3 Numbers
a = int(input('Enter a number:'))
b = int(input('Enter b number:'))
c = int(input('Enter c number:'))

if a >=b and a >=c:
    print('this greatest number:', a)
elif b >=a and  b>=c:
    print('this greatest number:', b)
else:
    print('this greatest number:',c)

In [ ]:
#4. Leap Year Check
num = int(input('Enter a year :'))

if (num % 4 == 0 and num % 100 !=0) or (num % 400 ==0):
    print('this a leap year')
else:
    print('not a leap year')

In [ ]:
#5. Print 1-100
for i in range(0,101):
  print(i)

In [ ]:
#Number Triangle Pattern
n = 5
for i in range(1, n+1):
  for j in range(1, n -i +1):
    print(" ", end=" ")
  for k in range(1, 2 * i):
    print("*", end=" ")
  print()

In [ ]:
#Star Diamond Pattern

In [ ]:
#Multiplication Table
n = int(input('Enter a number:'))
for i in range(1, 11):
  print(f"{n} * {i} = {n * i}")
  # 2 * 1 = 2

In [ ]:
# string basics
# 1. Reverse a String
str = input("enter a string:")
print(str[::-1])

enter a string:Man
naM

In [ ]:
# other way
str = input('enter a string:')
rev = ' '
for i in str:
  rev = i + rev   # 1.M + '' = M, 2. a + 'M' = aM
print(rev)

In [ ]:
#3.Check Palindrome String
str = input('enter a string:')
if str == str[::-1]:
  print('palindrome')
else:
  print('not palindrome')

In [ ]:
# other method
def fun_1(str):
    return s == s[::-1]
str = 'MOM'
res = fun_1
if res:
    print('palindrome')
else:
    print('not palindrome')

In [ ]:
#Word Count in Sentence
sentence = "Manojkumar is good boy"
words = sentence.split()
word_count = len(words)

print("Number of words:", word_count)

Number of words: 4

In [ ]:
# Anagram Check
str1 = input("Enter a string:")
str2 = input("Enter a string:")
if len(str1) != len(str2):
  print("Not anagrams")
elif sorted(str1) == sorted(str2):
  print("Anagrams")
else:
  print("Not anagrams")

Enter a string:silent
Enter a string:listen
Anagrams

In [ ]:
#Character Frequency
str = input("Enter a string:")

l = list(str)
freq =[l.count(ele) for (ele) in l]

#print(freq)

d = dict(zip(l,freq))
print(d)

In [ ]:
# sum of digit in a number
num = int(input("Enter a number:"))
total = 0

while num > 0:
    digit = num % 10
    total += digit
    num //=10
print(total)

In [ ]:
# find max and min in a list
numbers = [99,20,30,80,99,101,10,1]

largest_number= numbers[0]
smallest_number= numbers[0]

for num in numbers:
    if num > largest_number:
        largest_number = num
    if num < smallest_number:
        smallest_number = num

print(largest_number)
print(smallest_number)

In [ ]:
# count words in sentence
sentence = "python is good langauage"
words = sentence.split()
print(len(words))

In [ ]:
# Find factorial of a number

num = int(input("Enter a number:"))
fact = 1

for i in range(1, num+1):
    fact *= i

print(fact)

In [ ]:
# check if number is prime

In [ ]:
# Swap two variables without temp variable

a = int(input("Enter a number:"))
b = int(input("Enter a number:"))

print("Before swapping:",a)
print("Before swapping:",b)
a,b = b,a
print("After swapping:",a)
print("After swapping:",b)

In [ ]:
# fibonacci series
# 0 1 1 2 3 5 8 13 21 34
n1=0
n2=1

print(n1)
print(n2)
for i in range(2,10):
  sum=n1+n2
  print(sum)
  n1=n2
  n2=sum

0
1
1
2
3
5
8
13
21
34

In [ ]:
# Find the second largest numbers
L1 = [10,20,30,40,90]

first = second = float('-inf')

for num in L1:
  if num > first:
    second = first
    first = num
  elif num > second and num != first:
    second = num

print("Second number:", second)

Second number: 40

In [ ]:
# write a prime number checker
num = 7
count = 0

for i in range(1,num+1):
  if num % i == 0:
    count += 1

if count == 2:
  print("Prime number")
else:
  print("Not prime number")

Prime number

In [ ]:
# print the 1 to 10 prime number

for num in range(2, 50):
    count = 0
    for i in range(1, num + 1):
        if num % i == 0:   # ✅ check divisor properly
            count += 1
    if count == 2:         # prime = exactly 2 divisors
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
# Armstrong number
num = int(input("Enter a number:"))
digits = str(num)
power = len(digits)
total = 0

for digit in digits:
  total+= int(digit) ** power

if num == total:
  print("Armstrong number")
else:
  print("Not armstrong number")

Enter a number:153
Armstrong number

In [ ]:
#Merge two lists without duplicates Method -1
list1 = [1,2,3,4]
list2 = [2,3,4,5]

merged = list(set(list1 + list2))
print(merged)

# Method - 2
merged = []
for item in list1 + list2:
  if item not in merged:
    merged.append(item)
print(merged)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
#Find common elements in two lists
list1 = [1,2,3,4,6]
list2 = [2,3,4,5,7]

common = []

for item in list1 + list2:
    if item in list2 and item not in common:
      common.append(item)
print(common)

[2, 3, 4, 5, 7]

In [ ]:
#Write a function to count the number of vowels in a given string.
def count_vowels(text):
    vowels = "aeiouAEIOU"
    count = 0
    for char in text:
        if char in vowels:
            count +=1
    return count

string = "Hello world"

print("World", count_vowels(string))

In [ ]:
num1=input("Enter a number:")
num2=input("Enter a number:")

print("Before num1 swapping:", num1)
print("Before num2 swapping:", num2)

num1,num2=num2,num1

print("After num1 swapping:",num1)
print("After num2 swapping:",num2)

Enter a number:100
Enter a number:200
Before num1 swapping: 100
Before num2 swapping: 200
After num1 swapping: 200
After num2 swapping: 100

In [ ]:
# Program to calculate area of a triangle
b= int(input("Enter a number :"))
h= int(input("Enter a number :"))

area = 0.5*h*b
print(int(area))

Enter a number :10
Enter a number :20
100

In [ ]:
#Program to calculate area of a circle
r = int(input("Enter a number :"))
area = 3.14 * r * r
print(area)

In [ ]:
# Program to calculate area of a cylinder
r = int(input("Enter a number :"))
h= int(input("Enter a number :"))
area = 2*3.14*r*(r+h)
print(area)

Enter a number :1
Enter a number :2
18.84

In [ ]:
# Program to calculate area of a rectangle
l = int(input("Enter a number :"))
b= int(input("Enter a number :"))
area = l*b
print(area)

Enter a number :10
Enter a number :20
200

In [ ]:
#Program to calculate area of a cone
r = int(input("Enter a number :"))
h= int(input("Enter a number :"))
area = 3.14*r*(r+((h**2)+(r**2))**0.5)
print(area)

In [ ]:
#Program to calculate perimeter of a triangle
a = int(input("Enter a number :"))
b = int(input("Enter a number :"))
c = int(input("Enter a number :"))
area = a+b+c
print(area)

Enter a number :1
Enter a number :2
Enter a number :3
6

In [ ]:
# Program to calculate perimeter of a circle
r = int(input("Enter a number :"))
circumference = 2*3.14*r
print(int(circumference))

Enter a number :2
12

In [ ]:
#Sum of n natural numbers.
n = int(input("Enter a number :"))
sum = n*(n+1)/2
print(int(sum))

Enter a number :2
3

In [ ]:
#Prime or not

num=5
count=0

if num>1:
  for i in range(1,num+1):
    if(num%i) == 0:
      count=count+1
  if count==2:
    print("Prime")
  else:
    print("Not prime")

Prime

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num = 5
print(factorial(num))

120

In [ ]:
# fibonacci series
# 0 1 1 2 3 5 8 13 21 34
n1=0
n2=1

print(n1)
print(n2)
for i in range(2,10):
  sum=n1+n2
  print(sum)
  n1=n2
  n2=sum

0
1
1
2
3
5
8
13
21
34

In [ ]:
# find sum of elements in a array

arr = [1, 2, 3, 4, 5]

print(sum(arr))
print(sum(arr, 20))

15
35

In [ ]:
# Find the largest number amoung the three inputs number
l=[25,89,35]
print(max(l))

num1=float(input("Enter a number:"))
num2=float(input("Enter a number:"))
num3=float(input("Enter a number:"))

if num1>num2:
  print(num1,"is greater than",num2)
elif num2>num3:
  print(num2,"is greater than",num3)
else:
  print(num3,"is greater than",num1)

89
Enter a number:25
Enter a number:57
Enter a number:1000
1000.0 is greater than 25.0

In [ ]:
#Check if the number is odd or even

num=int(input("enter a number:"))
if num%2==0:
  print("num, is even")
else:
  print("num, is odd")

enter a number:7
num, is odd

In [ ]:
#Find the program to check the year is leap year or not
year=2012
def checkyear(year):
  return ((year%4==0) and (year%100!=0)) or (year%400==0)
if (checkyear(year)):
  print("Leap year")
else:
  print("Not a leap year")

Leap year

In [ ]:
#check if palidrome or not
def is_palidrome(s):
  return s==s[::-1]
s=input("enter a string  ")
if is_palidrome(s):
  print("yes is a palidrome")
else:
  print("not a palidrome")

enter a string  DAD
yes is a palidrome

In [ ]:
#Write a python function to sum all the numbers
# s = [1,2,3,4]
# print(sum(s))

def sum(numbers):
  total=0
  for x in numbers:
    total+=x
  return total
print(sum([1,2,3,4]))

10

In [ ]:
#Add two given a list using map and lambda
l1=[1,2,3]
l2=[3,4,5]
print(l1,l2)
result=(map(lambda x,y : x+y,l1,l2))
print("result",list(result))

[1, 2, 3] [3, 4, 5]
result [4, 6, 8]

In [ ]:
from string import punctuation
#Python program to remove punctuation from a string

punctuation = "'''''!@#$%^&*()-+?_=,<>/."
mystr=input("enter a string")
new_str=""
for c in mystr:
  if c not in punctuation:
    new_str +=c
print(new_str)

enter a stringHello, World! This is a test-string.
Hello World This is a teststring

In [ ]:
#program to print half pyramid using *
rows=4
for i in range(rows):
  for j in range(i+1):
    print("*", end=" ")
  print()



# rows = 4:
# This sets the number of rows for the pattern. In this case, the pattern will have 4 rows.
# Outer Loop (for i in range(rows)):
# The outer loop runs rows times (4 times in this case).
# i takes values from 0 to 3 (since range(rows) generates numbers from 0 to rows - 1).
# Inner Loop (for j in range(i + 1)):
# The inner loop runs i + 1 times for each iteration of the outer loop.
# For example:
# When i = 0, the inner loop runs 1 time (j takes value 0).
# When i = 1, the inner loop runs 2 times (j takes values 0 and 1).
# When i = 2, the inner loop runs 3 times (j takes values 0, 1, and 2).
# When i = 3, the inner loop runs 4 times (j takes values 0, 1, 2, and 3).
# print("*", end=" "):
# This prints an asterisk (*) followed by a space ( ).
# The end=" " argument ensures that the next print statement continues on the same line instead of moving to a new line.
# print():
# After the inner loop completes for a given i, this print() statement moves the cursor to the next line, so the next row of asterisks starts on a new line.

*
* *
* * *
* * * *

In [ ]:
#Access both the key and value using items() from dictornary

details={"Name" :"Manoj", "Roll" : "21"}

for i,j in details.items():
  print(i,j)

Name Manoj
Roll 21

In [ ]:
#Mulitipication in table (from 1 to 10) in python

num = int(input("enter a number: "))
#2*1=2
for i in range(1,21):
  print(num, "*", i, "=", num * i)

# num = 5
# for i in range(1, 11):  # Multiplication table for 5
#     print(num, "*", i, "=", num * i)

enter a number: 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144
12 * 13 = 156
12 * 14 = 168
12 * 15 = 180
12 * 16 = 192
12 * 17 = 204
12 * 18 = 216
12 * 19 = 228
12 * 20 = 240

In [ ]:

#print the random numbers in 0 to 1000
import numpy as np
x= np.random.randint(low=0,high=1000,size=10)
print(x)

[211 792 150 189  40 439 846   4 329  91]

In [ ]:
# pattern programs

n = 4
for i in range(n):
  for j in range(i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
n = 4
for i in range(n):
  for j in range(n):
    print("1", end=" " ) # The end=" " part tells Python not to end the line with a newline (\n), which is the default. Instead, it ends the output with a space " ".
  print()

1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1

In [ ]:
n = 4
for i in range(n):
  for j in range(n-i):
    print("*", end=" ")
  print()
# When i = 0, n - i = 4, so it prints 4 stars
# When i = 1, n - i = 3, so it prints 3 stars
# When i = 2, n - i = 2, so it prints 2 stars
# When i = 3, n - i = 1, so it prints 1 star

* * * *
  * * *
    * *
      *

In [ ]:
n = 4
for i in range(n):
  for j in range(i):
    print(" ", end=" ")
  for j in range(n-i):
    print("*", end=" ")
  print()

* * * *
  * * *
    * *
      *

In [ ]:
n = 4
for i in range(n):
  for j in range(n-1-i):
    print(" ", end=" ")
  for j in range(i +1):
    print("*", end=" ")
  print()

      *
    * *
  * * *
* * * *

In [ ]:
n = 4
for i in range(n):
  for j in range(i+1):
    print("*", end=" ")
  print()
for i in range(1, n):
  for j in range(n-i):
    print("*", end=" ")
  print()

# When i = 1 → j runs range(4) → 0 1 2 3 → prints 4 stars
# When i = 2 → j runs range(3) → prints 3 stars
# When i = 3 → j runs range(2) → prints 2 stars
# When i = 4 → j runs range(1) → prints 1 star

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
#Alphabetical patterns
n = 4
for i in range(n):
  for j in range(i+1):
    print(chr(65+i), end=" ")
  print()

A
B B
C C C
D D D D

In [ ]:
n = 3
for i in range(n):
  for j in range(n-i-1):
    print(" ", end=" ")
  for k in range(n):
    print(chr(65+i), end=" ")
  print()

    A A A
  B B B
C C C

In [ ]:
# square pattren
n = 4
for i in range(n):
  for j in range(n):
    print('*', end=" ")
  print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
n = 3
for i in range(n):
    for j in range(n-1-i):
        print(" ", end=" ")
    for k in range(2 * i +1):
        print("*", end=" ")
    print()

     # i = 0, k = 2 * 0 +1 = 1 star will print
     # i = 1, k = 2 * 1 +1 = 3 stars will print
     # i = 2, k =2 * 2 +1 = 5 stars will print

    *
  * * *
* * * * *

In [ ]:
n = 3
for i in range(n):
  for j in range(i):
    print(" ", end=" ")
  for k in range(2 *(n-i)-1):
    print("*", end=" ")
  print()

* * * * *
  * * *
    *