<a href="https://colab.research.google.com/github/Manoj-97012/Python-basic--programs/blob/main/Python_basics_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Print Function
print("Hello world")

Hello world

In [ ]:
#single line
i = 10
print(type(i))

<class 'int'>

In [ ]:
""" this multiple comments
manoj is good boy """
i = 10
print(type(i))

<class 'int'>

In [ ]:
#Python support different data types like int , float , string and boolean .
a= 10
#string
b= "Manoj"
#float
c= 10.5

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
# define a string with sentence 'This is so beautiful'
a = " This is so beautiful"
print(type(a))

<class 'str'>

In [ ]:
E = True
print(type(E))

<class 'bool'>

In [ ]:
#Swapping the two values
a = 10
b = 20
print("Before swapping:", a)
print("Before swapping:", b)
a ,b = b, a
print("After swapping:", a)
print("After swapping:", b)

Before swapping: 10
Before swapping: 20
After swapping: 20
After swapping: 10

In [ ]:
x = "Manoj"
y = "Kumar"
print("Before swapping:", x)
print("Before swapping:", y)
temp = x
x = y
y = temp
print("After swapping:", x)
print("After swapping:", y)

Before swapping: Manoj
Before swapping: Kumar
After swapping: Kumar
After swapping: Manoj

In [ ]:
a = "city"
b = 5
print(a,b)
print(str(a)+str(b))

city 5
city5

In [ ]:
a = 24
b = 3
print("a ={}, b ={}".format(a,b))

a =24, b =3

In [ ]:
#Arithmatic Operations
a = 24
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

27
21
72
8.0
0
8
13824

In [ ]:
#Indexing & Slicing
a = "pineapple"

print(a[0:4])
print(a[4:9])

pine
apple

In [ ]:
# Input Output
i = input("Enter the number :")
print(i)
print(type(i))

Enter the number :Manoj'
Manoj'
<class 'str'>

In [ ]:
print("Please enter value: ")
i= input()
print("Hello , You have entered : ",i)
print(type(i))

Please enter value:
40
Hello , You have entered :  40
<class 'str'>

In [ ]:
#Math Function
import math
x = 2
y = 5.32167

print("maximum number :", max(x,y))
print("minmum number :", min(x,y))

maximum number : 5.32167
minmum number : 2

In [ ]:
#square and cube of x and store in a and b variable
x = 3
a = x ** 2
b = x ** 3
print(a)
print(b)

9
27

In [ ]:
import math
x = 10

c = math.log(x)
print(c)

2.302585092994046

In [ ]:
#print minimum value between x,y,a, b and c
x = 3
y = 5.32167
a = 9
b = 27
c = 2.3025

print(min(x,y,a,b,c))

#print maximum value between x,y,a, b and c
print(max(x,y,a,b,c))

2.3025
27

In [ ]:
# Python Operator
a = True
b = False
print(a)
print(b)
print(type(a))
print(type(b))

True
False
<class 'bool'>
<class 'bool'>

In [ ]:
a = 1.9
b = 0.7

print("int of a is", int(a))
print("int of b is", int(b))

int of a is 1
int of b is 0

In [ ]:
a = True
b = False

print(not a)
print(not b)
print(a and b)
print(a or b)
print(a and not b)

False
True
False
True
True

In [ ]:
#Data Structures Introduction
L = [1,2,3,4,5]
print(L)
print(type(L))
L1=['cat', 10.5,2]
print(L1)

[1, 2, 3, 4, 5]
<class 'list'>
['cat', 10.5, 2]

In [ ]:
#create list and try to access each element with indexing
L2=[11,22,44,66]
# print value at index 0
print(L2[0])
# print value at index 2
print(L2[2])
# print last item from the list
print(L2[3])
# print second last item from list using -2
print(L2[-2])
# print the length of list
print(len(L2))

# sort in ascending order and print l2

L2.sort()
print(L2)

L2.sort(reverse=True)
print(L2)

11
44
66
44
4
[11, 22, 44, 66]
[66, 44, 22, 11]

In [ ]:
L2=[11,22,44,66]
# add item 99 in list and print l2
L2.append(99)
print(L2)
# insert item 500 in list at index 0
L2.insert(0,500)
print(L2)
L2.remove(11)
print(L2)
#remove last element from the list using pop() method
L.pop()
print(L2)
# remove item by value

[11, 22, 44, 66, 99]
[500, 11, 22, 44, 66, 99]
[500, 22, 44, 66, 99]

In [76]:
#String value and operators
X = "Cat"
Y = "Dog"
print(X)
print(Y)
#Print first character of both x and y.
print("First character :",X[0])
print("First character :",Y[0])

#Print last character of both x and y.
print("Last character:", X[2])
print("Last character:", Y[2])

#Print len of both x and y
print("len of characters:", len(X))
print("len of characters:", len(Y))
#concatenate both x and y and store it in variable z and print z
z = X + Y
print(z)

#check if x is part of z
if X in z:
  print("yes x is part of z")
else:
  print("No x is not part of z")

Cat
Dog
First character : C
First character : D
Last character: t
Last character: g
len of characters: 3
len of characters: 3
CatDog
yes x is part of z

In [88]:
# Dealing with Sentences
sent = "I am flying to London"
print(sent)
#Print length of the sentence
print(len(sent))

#Using list indexing, to print the word London
print(sent[15:21])
# Use .split to get list of individual words in the sentence
print(sent.split())
# Convert sentence in lower case
print(sent.lower())
# Convert sentence in upper case
print(sent.upper())
# Convert sentence in Camel case
print(sent.capitalize())

I am flying to London
21
London
['I', 'am', 'flying', 'to', 'London']
i am flying to london
I AM FLYING TO LONDON
I am flying to london

In [92]:
#Lets try to print two string with inserting new line and tab
First_name="jack"
last_name="hills"
Full_name = First_name + "\t" + last_name
print(Full_name)
Full_name_2= First_name + "\n" + last_name
print(Full_name_2)

jack	hills
jack
hills

In [97]:
#Remove (Strip) white space from string
s = ' This string contains white space. '
print(s)
# remove white space from both side.
print(s.strip())
# remove white space from left side.
print(s.lstrip())
# remove white space from right side.
print(s.rstrip())

#Print length and verify
print(len(s))
print(len(s.strip()))
print(len(s.lstrip()))
print(len(s.rstrip()))

 This string contains white space.
This string contains white space.
This string contains white space.
 This string contains white space.
35
33
34
34

In [100]:
#Loops and Iterations
#Declare a variable x equal to a number of your choice.
#your code here
x = 3
# add a number of your choice (mine is 3 :) )
print(x)

#Using an if statement, print whether x is zero, positive or negative.
if x == 0:
    print("0 is zero")
else:
    print("0 not a zero")

3
0 not a zero

In [ ]:
#Loop Problem Statements in Python , Nested Loop Examples
X = 'India','Israel','Canada'
for S in X:
    print(S)

print(range(1,11))

# Using For loop, print the table of 2.
num = 2
for i in range(1,11):
    print(f"{num} * {i} = {num * i}")

In [ ]:
#For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int
x = [21, 'hello','cream', 20,19,'village']
for i in x:
    if type(i) == int:
        print(i)

In [102]:
#Using For loop, lets create a pattern.
n = 3
for i in range(n):
  for j in range(n):
    print("*", end=" ")

* * * * * * * * *

In [104]:
n = 5
for i in range(n):
  for j in range(i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [105]:
#Lets remove duplicates from list names=['A','B','C','A','D','E','F','G','H','E','D']
names=['A','B','C','A','D','E','F','G','H','E','D']
d=''
for name in names:
  if name not in d:
    d=d+name
print(d)

ABCDEFGH

In [109]:
# List Comprehensions
names=['A','B','C','A','D','E','F','G','H','E','D']
d=[]
namelist=[name for name in names if name not in d and d.append(name) is None]
print(namelist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [110]:
#Using list comprehension, create a list containing numbers from 1 to 20.
list = [name for name in range(1, 21)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [111]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

even_numbers=[num for num in range(0,21) if num % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [115]:
#Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
fruits = ['apple','kiwi','orange']
lengths = [len(i) for i in fruits]
print(lengths)

[5, 4, 6]

In [118]:
# Set a variable flag = True, num = 5
# Run a while loop till flag = True
# Inside the while loop -
# Increment the value of num by 5
# If value of num is greater then 50, set flag to be False
flag = True
num = 5
while flag:
  num += 5
  print(num)
  if  num > 50:
    flag = False

10
15
20
25
30
35
40
45
50
55

In [122]:
# Functions
def square(x):
  num=x**2
  return num

print(square(9))

81

In [ ]:
## find the square of 9 using the function square you have just created.

In [129]:
#Define another function which checks whether a given is number is odd or even for a given input and it should print whether the number is odd or even as an output
def check_odd_even(num):
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")
print(check_odd_even(3))
print(check_odd_even(6))
print(check_odd_even(21))

Odd
None
Even
None
Odd
None

In [136]:
#define a funtion 'occurence' which takes 2 inputs, one list 'lst' and another one a number 'n' and count the number of occurrences of n in your list lst.
def occurrence(lst, n):
    count = lst.count(n)
    return count

my_list = [1, 2, 2, 3, 4, 2]
print(occurrence(my_list, 2))

3

In [137]:
# find the square of 9 using the function square you have just created.
def square(x):
  return x ** 2

print(square(9))

81

In [138]:
#Using while loop make a function that prints all the values between 1 to n.
def print_values(n):
  i = 1
  while i <= n:
    print(i)
    i+=1

print_values(10)

1
2
3
4
5
6
7
8
9
10

In [142]:
# Now Define a function, which takes input from the user and prints whether the given input
def check_num(x):
  num = int(input('Enter a number :'))
  if num == 0:
    print('it a zero')
  elif num > 0 :
    print('number is positive')
  else:
    print('number is negative')
print(check_num(num))

Enter a number :0
it a zero
None